.programs{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.program{
    flex-basis: 31%;
    position: relative;
}

.levels{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.program-right{
    padding-top: 15px;
    flex-basis: 50%;
}

.program-left {
    flex-basis: 50%;
    position: relative;
}

.program-left img{
    width: 100%;
}

.program-right p{
    margin-bottom: 15px;
    max-width: 80%;
}

.program-title{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #0b028b59;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}


.caption img{
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}

@media(max-width:650px){
    .programs{
        flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}

@media(max-width:1000px){
    .levels{
        flex-direction: column;

    }
    .program-left{
        flex-basis: 100%;
        margin: 20px;
    }
    .program-right{
        flex-basis: 100%;
        order:2;

    }
}